body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 25px;
  height: calc(100vh - 50px);

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: auto auto;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  text-transform: uppercase;
  background-color: #fc4b3b;
  color: white;
  border-radius: 16px;
  user-select: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-received {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 65%;
  margin-left: 30%;
  text-align: center;
  padding: 15px;
  height: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgba(157, 199, 219, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 15px;
}

.first-three-received {
  grid-column: 1/2;
  text-align: center;
  padding: 15px;
  height: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: rgba(157, 199, 219, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 15px;
}

.all-successful {
  overflow-y: scroll;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 5px;
  text-align: center;
  padding: 5px;
  scroll-behavior: smooth;
  background-color: rgba(190, 219, 157, 0.6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 15px;
}

ul {
  list-style: none;
}

.li-header {
  margin-top: 15px;
}
